<a href="{{{baseUrl}}}{{page}}" class="button {{default light ""}} w-inline-block"><div
    id="nowThis"
    thatTextSplit="hoverTarget"
    base="20%"
    class="clip"
  >
    <div class="hover-text">
      <div class="text-size-xsmall">{{default text "schedule a call"}}</div>
    </div>
    <div class="hover-text bottom-hover-text">
      <div class="text-size-xsmall">{{default text "schedule a call"}}</div>
    </div>
  </div></a>